body {
  background-color: rgb(65, 65, 65);
  margin: 0px;
}

.full-screen-container {
  height: 100vh;
  /* height: 89vh; */
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inside-container {
  padding: 2rem;
  background-color: #a6a6a6;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Optional for centering content */
  align-items: center; /* Optional for centering content */
  border: 2px solid #a6a6a6;
  border-radius: 15px;
  box-sizing: border-box; 
}


.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: purple; */
}

.inputGroup {
  display: flex;
  flex-direction: column;
  /* background-color: red; */
}

.formGroup {
  width: 35vw;
  /* background-color: green; */
}

label {
  margin-bottom: 5px;
  margin-left: 7px;
  display: block;
  color: #000000;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 2px solid;
  border-radius: 20px;
  box-sizing: border-box; 
  background-color: rgb(255, 255, 255);
}

.loginForm button {
  margin-top: 30px;
  width: 200px;
  background-color: rgb(145, 59, 195);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}




.nav-container {
  height: 8vh;
  background-color: #00D4EC;
}
