.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(145, 59, 195);
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0;
    z-index: 1000;
  }
  
  .navbar {
    position: fixed; /* or absolute */
    left: 0;
    top: 0;
    width: 100vw; /* Use viewport width */
    height: 10vh;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  .navbar a:hover {
    /* text-decoration: underline; */
    color: rgb(228, 228, 228);
  }